 body {
  background-image: url(../img/fon2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
  min-width: 1440px;
}
.head {
   width: 100%;
   height: 100px;
   /* opacity: 0.7; */
 	 background: #979AAA;
   /* border: 3px solid black; */
   border-radius: 10px 10px 0px 0px;
}
.about {
  width: 100%;
  height: 50px;
  /* opacity: 0.7; */
  background: #979AAA;
  border: 2px solid black;
  border-radius: 0px 0px 10px 10px;
}
.about div {
  width: 470px;
  display:inline-block;
  text-align: center;
  line-height: 50px;
}
.abt, .gallery, .cntcs {
  color: #F2E8C9;
  background: grey;
  width: 200px;
  height: 30px;
  border: 2px solid #1F75FE;
  border-radius: 10px;
  font-size: 15pt;
  cursor: pointer;
  box-shadow: 0 5px 0px #4B4E5D;
  transition-property: all;
  transition-duration: 0.05s;
}
.abt:hover, .gallery:hover, .cntcs:hover {
  box-shadow: 0 3px 0px #4B4E5D;
  background-color: red;
  transform: translateY(2px);
  transition-duration: 0.3s;
}
span a {
  padding-left: 550px;
  text-shadow: 0px 5px 4px black;
  color: #1F75FE;
  font-size: 50pt;
  line-height: 100px;
  cursor: pointer;
  text-decoration: none;


}
.head_text {
  /* width: 100px; */
  height: 100px;
  color: #1F75FE;
  font-size: 20pt;
  float: right;
  margin-right: 10px;
  line-height: 50px;
  display: table;
}
a[href^="mailto:"]:before {
  content: "\2709";
  margin-right: 0.5em;
  color: #CE2029;
}
a[href^="mailto:"] {
  font-size: 29px;
  color: #F2E8C9;
  text-decoration: none;
  text-shadow: 0px 5px 4px black;
}
a[href^="tel:"]:before {
  content: "\260e";
  margin-right: 0.5em;
  color: #CE2029;
}
a[href^="tel:"] {
  text-decoration: none;
  color: #F2E8C9;
  text-shadow: 0px 5px 4px black;
}
.dop {
  color: #F2E8C9;
  text-align: center;
  font-size: 30pt;
  margin-top: 55px;
}
.dop div {
  text-align: center;
}
.mark div {
   width: 350px;
   display:inline-block;
   text-align: center;
   line-height: 500px;
}
.btn_v, .btn_a, .btn_s, .btn_p {
  color: red;
  background: grey;
  width: 200px;
  height: 200px;
  border: 4px solid #1F75FE;
  border-radius: 20px;
  font-size: 25pt;
  cursor: pointer;
  box-shadow: 0 5px 0px #A5A5A5;
  transition-property: all;
  transition-duration: 0.05s;
  /* transition-timing-function: ease; */
}
.btn_v:hover, .btn_a:hover, .btn_s:hover, .btn_p:hover {
  box-shadow: 0 4px 0px #A5A5A5;
  background-color: red;
}
.btn_v {
  background-image: url(img/vwLogo.png);
  background-size: cover;
  background-repeat: no-repeat;

}
.btn_a {
  background-image: url(img/audiLog.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.btn_p {
  background-image: url(img/porsLogo.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.btn_s {
  background-image: url(img/skoda.png);
  background-repeat: no-repeat;
  background-size: cover;
}

ul {
  font-size: 19pt;
  color: #1F75FE;
  list-style-type: square;
  margin-top: 30px;
}
li a {
  line-height: 2;
  color: #F2E8C9;
}
/* li a:visited {
  color: #800080;
} */
/* a.rns850:visited, .update:visited, .rear_view_camera:visited, .tpms:visited,
.vw_alarm:visited, .door_power:visited, .tow_hook:visited, .rcd550_BT:visited,
.area_top_view:visited, .acc:visited, .dla:visited, .Side_Assist:visited, .Lane_Assist:visited,
.bi-xenon:visited, .led_tail_light:visited, .power_steering_column:visited,
.steering_heat:visited, .wind_shield_heating:visited, .Home_Link:visited,
.Remote_Start_Heater:visited, .Seat_w_memory:visited, .antenna:visited, .Media-In:visited,
.Reilings:visited, .Easy_Open:visited, .road_plates:visited,
.rozetka:visited, .Dynaudio:visited, .Kessy:visited
  {
  color: #800080;
} */
.rns850, .update, .rear_view_camera, .tpms,
.vw_alarm, .door_power, .tow_hook, .rcd550_BT,
.area_top_view, .acc, .dla, .Side_Assist, .Lane_Assist,
.bi-xenon, .led_tail_light, .power_steering_column,
.steering_heat, .wind_shield_heating, .Home_Link, .Remote_Start_Heater,
.Seat_w_memory, .antenna, .Media-In, .Reilings, .Easy_Open, .road_plates,
.rozetka, .Dynaudio, .Kessy  {
  color: #F2E8C9;
  text-align: center;
}
footer {
  color: #F2E8C9;
  text-align: center;
  margin-bottom: 5px;
  margin-top: 500px;
  font-size: 15pt;
}
